*{
  font-weight: bold;
}

img{
  width: 80%;
  height: 80%;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 20%;
  text-align: center;
}

td, th {
  border: 5px solid black;
  text-align: center;
  padding: 0;
  background: rgb(186,191,93);
  background: linear-gradient(360deg, rgba(186,191,93,1) 0%, rgba(249,255,188,1) 100%);
}
