<table>
  <tr>
    <th>Great Sword</th>
    <th>Long Sword</th>
    <th>Sword & Shield</th>
    <th>Dual Blades</th>
    <th>Lance</th>
    <th>Gunlance</th>
    <th>Hammer</th>
  </tr>
  <tr>
    <td><img src="../../assets/images/greatsword.png"></td>
    <td><img src="../../assets/images/longsword.png"></td>
    <td><img src="../../assets/images/SnS.png"></td>
    <td><img src="../../assets/images/duals.png"></td>
    <td><img src="../../assets/images/lance.png"></td>
    <td><img src="../../assets/images/gunlance.png"></td>
    <td><img src="../../assets/images/hammer.png"></td>
  </tr>
  <tr>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
    <td>Rolled: 0</td>
  </tr>
  <br>
  <tr>
    <th>Hunting Horn</th>
    <th>Switch Axe</th>
    <th>Charge Blade</th>
    <th>Insect Glaive</th>
    <th>Light Bowgun</th>
    <th>Heavy Bowgun</th>
    <th>Bow</th>
  </tr>
  <tr>
    <td><img src="../../assets/images/horn.png"></td>
    <td><img src="../../assets/images/switchaxe.png"></td>
    <td><img src="../../assets/images/chargeblade.png"></td>
    <td><img src="../../assets/images/glaive.png"></td>
    <td><img src="../../assets/images/lbg.png"></td>
    <td><img src="../../assets/images/hbg.png"></td>
    <td><img src="../../assets/images/bow.png"></td>
  </tr>
    <tr>
    <td>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
    <td #rollCount>Rolled: 0</td>
  </tr>
</table>
